body {
  margin: 0;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #b91d73, #6a3093);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  position: relative;

  height: 600px;
  width: 1000px;

  border-radius: 20px;
  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}

.player--0 {
  background-color: rgba(255, 255, 255, 0.8);
  height: 600px;
  width: 500px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.player--1 {
  background-color: rgba(0, 0, 0, 0.08);
  height: 600px;
  width: 500px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  height: 90px;
  width: 90px;
}

button {
  border-radius: 50px;
  background-color: white;
  color: black;
  padding: 12px 30px;
  width: 200px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn--new {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn--roll {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
}

.btn--hold {
  position: absolute;
  top: 380px;
  left: 50%;
  transform: translateX(-50%);
}

.name {
  font-size: 40px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.score {
  font-size: 90px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #c7365f;
}

.current {
  background-color: #c7365f;
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;
}

.current-label {
  font-size: 14px;
  margin: 0;
  color: white;
}

.current-score {
  font-size: 35px;
  margin: 0;
  color: white;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--winner {
  background-color: #2f2f2f;
  color: #c7365f;
}

.hidden {
  display: none;
}